.subnav
  = link_to 'Cadastrar lembrete', new_admin_reminder_path
  = link_to 'Cadastrar depentende', '#'
  = link_to 'Editar depentende', '#'
  = link_to 'Editar usuario', edit_admin_user_path(current_user)