= render partial: 'shared/subnav'

#reminders
  %h1 Lembretes:
  - if @reminders.present?
    - @reminders.each do |reminder|
      = reminder.name
  - else
    %h2 Você não possui lembretes cadastrado